# mv . /etc/systemd/system/sid_dss_client.service
# sudo chmod 755 /etc/systemd/system/sid_dss_client.service
# sudo systemctl daemon-reload
# sudo systemctl enable sid_dss_client.service
# sudo systemctl status sid_dss_client.service 

[Unit]
Description=SID Digital Scarescrow Manangement Service
After=multi-user.target

[Service]
User=ioss # important!
Type=simple
WorkingDirectory=/home/ioss/backend
ExecStartPre=/home/ioss/anaconda3/envs/venv/bin/python3 /home/ioss/backend/main.py
ExecStart=/bin/bash -c 'firefox -kiosk 127.0.0.1:8080'
StandardOutput=file:/home/ioss/backend/start.log
StandardError=file:/home/ioss/backend/start-err.log
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
