# mv . /etc/systemd/system/sid_dss_client.service
# sudo chmod 755 /etc/systemd/system/sid_dss_client.service
# sudo systemctl daemon-reload
# sudo systemctl enable sid_dss_client.service
# sudo systemctl status sid_dss_client.service 

[Unit]
Description=SID Digital Scarescrow Service
After=multi-user.target

[Service]
User=ioss # important!
Type=simple
WorkingDirectory=/home/ioss/bdd_client
ExecStart=/usr/bin/python /home/ioss/bdd_client/server_bird.py
StandardOutput=file:/home/ioss/bdd_client/startup.log
StandardError=file:/home/ioss/bdd_client/startup_error.log
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
